ul {
  color: rgb(14, 100, 170);
  font-weight: bold;
}
li {
  list-style: none;
}
.weather-app {
  border: 1px solid rgb(53, 46, 150);
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 15px;
}
.move-left {
  margin-left: -150px;
}
.move {
  margin-left: -30px;
}
.search {
  font: fff;
}
h1 {
  display: block;
  margin: 0 auto;
}
